body {
background-color: rgb(6, 163, 168);
background-image: linear-gradient(rgb(53, 138, 88), rgb(10, 128, 65));
color: whitesmoke;
margin: 20px;

}

h1, h2, h3, p, a {
font-family: "Sen";
}

h1{
    font-size: 35px;
    font-weight: bold;
}

h2{
    font-size: 30px;
}

h3{
    font-size: 25px;
}

p, a{
    font-size: 20px;
}

a:link {
    color: rgb(62, 216, 255);
    text-decoration: none;
}

a:visited{
    color:rgb(255, 164, 202);
}

a:hover {
    color: rgb(93, 221, 34);
}

.preamble h3 {
font-family: 'Amatic SC';
color: rgb(240, 193, 107);
text-shadow: 2px 2px #000000;
font-size: 60px;
background-image: url(../img/daisies.png);
background-repeat: repeat;
background-size: contain;
padding-left: 60px;
}

.preamble {
  background-color: rgb(116, 76, 39);
}

.preamble p {
font-size: 25px;
padding: 5px;
}

#zen-preamble {
border: 4px solid;
border-color: rgb(219, 204, 69);
padding: 10px;
}

.explanation h3{
    font-family: "Amatic SC";
    color: rgb(240, 193, 107);
    text-shadow: 2px 2px #000000;
    font-size: 60px;
    background-image: url(../img/daisyborder2.png);
    background-repeat: repeat;
    background-size: contain;
    padding-left: 60px;
}

.explanation {
    background-color: rgb(116, 76, 39);
}

.explanation p {
    font-size: 25px;
    padding: 5px;
}

#zen-explanation {
    border: 4px solid;
    border-color: rgb(219, 204, 69);
    padding: 10px;
}

.participation h3{
    font-family: "Amatic SC";
    color: rgb(240, 193, 107);
    text-shadow: 2px 2px #000000;
    font-size: 60px;
    background-image: url(../img/daisies.png);
    background-repeat: repeat;
    background-size: contain;
    padding-left: 60px;
}

.participation {
    background-color: rgb(116, 76, 39);
}

.participation p {
    font-size: 25px;
    padding: 5px;
}

#zen-participation {
    border: 4px solid;
    border-color: rgb(219, 204, 69);
    padding: 10px;
}

.benefits h3{
    font-family: "Amatic SC";
    color: rgb(240, 193, 107);
    text-shadow: 2px 2px #000000;
    font-size: 60px;
    background-image: url(../img/daisyborder2.png);
    background-repeat: repeat;
    background-size: contain;
    padding-left: 60px;
}

.benefits p {
    font-size: 25px;
    padding: 5px;
}

.benefits {
    background-color: rgb(116, 76, 39);
}

#zen-benefits{
    border: 4px solid;
    border-color: rgb(219, 204, 69);
    padding: 10px;
}

.requirements h3{
    font-family: "Bungee Shade";
    color: rgb(255, 255, 255);

}

.design-name{
    font-size: 40px;
}

.designer-name{
    font-family: "Dynalight";
    text-shadow: 2px 2px #000000;
    font-size: 40px;
}

#zen-intro h1{
    font-size: 60px;
}

#zen-intro h2{
    font-family: "Charm";
    font-size: 40px;
}

#design-archives h3{
    font-family: "Emilys Candy";
    color: rgb(243, 182, 208);
    font-size: 30px;
}

#zen-resources h3{
    color: rgb(219, 204, 69);
}

div > h3{
color: rgb(224, 188, 110);
}

li:nth-child(even) {
  color: rgb(228, 215, 42);
}

li:nth-child(odd) {
    color: rgb(255, 255, 255);
}

.design-selection ul > li {
	display: flex;
	flex-direction: column;
	align-items: center;
	border: 1px solid;
    list-style-type: none;
	padding: 10px;
	font-size: 20px;
	margin: 5px;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.317);
    background-color: rgb(16, 110, 60);
    background-image: url(../img/daisies.png);
    background-repeat: repeat;
    background-size: contain;

    
}

aside.sidebar > .wrapper {
    display: grid;
	grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
    "a b"
    "a c";
}

.zen-resources {
    grid-area: b;

}

.design-selection {
    grid-area: a;

}

.design-archives {
    grid-area: c;
}

.zen-resources ul > li {
    font-size: 30px;
    background-color: rgb(116, 76, 39);
    border: 2px solid;
    border-color: rgb(219, 204, 69);
    padding: 10px;
    text-align: center;
    list-style-type: none;
    
}

.zen-resources a {
	text-decoration: none;
	padding: 0.25em 1em;
	display: block;
}

.intro h1 {
    text-align: center;
    font-size: 60px;
    font-family: "Amatic SC";
    text-shadow: 2px 2px #000000;
}